
<!DOCTYPE html>
<html>
<head>
<style>

h1 {
  color:
  font-family: italic
  font-size: 100
}

p {
  color:
  font-family: normal
  font-size: 200
}

</style>
</head>
<body>

<h1> </h1>
<p> </p>

</body>
</html> 
